html {
  font-size: 100px;
}

body {
  font-size: 16px;
}

.card {
  background-color: #fff0f1;
  height: 1.36rem;
  width: 4.3rem;
  margin: 0 auto .1rem;
  border-radius: .12rem;
  padding: 0 .24rem 0 .3rem;
  color: #333;
  display: flex;
  align-items: center;

  .card-body {
    flex: 1 1 auto;
    margin-right: .1rem;

    .card-title {
      font-size: .24rem;
      font-weight: bold;
    }

    .card-subtitle {
      font-size: .22rem;
      color: #888;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2; /* number of lines to show */
      line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }

  .card-btn {
    flex: 0 0 auto;
    width: 1.08rem;
    height: .45rem;
    border-radius: .08rem;
    font-size: .20rem;
    font-weight: bold;
    background-color: #f00;
    border: none;
    color: #fff;
    cursor: pointer;

    &[disabled], &.loading {
      background-color: lighten(#f00, 30%);
      cursor: not-allowed;
    }
  }
}
